

# OS & IDE
.DS_Store
.vscode/
.idea/
*.iml
*.ipr
*.iws

# Gradle & Build Artifacts
.gradle/
build/
bin/
out/
/captures/
.externalNativeBuild/
.cxx/
local.properties

# Secrets & Keystores
*.jks
*.p8
*.p12
*.key
*.pem
*.mobileprovision

# Logs & temp
*.log
*.tmp



